header {
    background-color: #4caf50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

.tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.tab-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #008000;
    font-weight: bold;
}

.tab-button:hover {
    background-color: #008000;
}

.tab-content {
    display: none;
    text-align: center;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
}

th, td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px); /* Эффект размытия фона */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    text-align: center;
    animation: fadeIn 0.3s ease-out;
    margin-top: 250px;
}

.modal-content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close:hover {
    color: #333;
}

#roleSelect, #statusSelect {
    width: 100%;
    padding: 0.5rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
}

.action-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.action-button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    .modal-content {
        max-width: 90%;
        padding: 1.5rem;
    }

    .modal-content h2 {
        font-size: 1.2rem;
    }

    #roleSelect {
        font-size: 0.9rem;
    }

    .action-button {
        font-size: 0.9rem;
    }
}

.no-data {
    text-align: center;
    color: #777;
    font-style: italic;
}

h2 {
    color: black !important;
}

.details-row ul {
    margin: 0;
    padding: 0.5rem;
    list-style: none;

    @media (max-width: 768px) {
        .tabs {
            flex-direction: column;
            gap: 0.5rem;
        }

        table {
            font-size: 0.9rem;
        }
    }
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    min-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
}

.styled-table thead tr {
    background-color: #4caf50;
    color: #0e0620;
    text-align: left;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    text-align: center;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #e2f1e2;
}

.accordion {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    overflow: hidden;
}

.accordion-item {
    border: none;
    margin: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #495057;
}

.accordion-button:hover {
    background-color: #e9ecef;
    color: #212529;
}

.btn-resume {
    border:  none;
    color: black;
    font-size: 23px;
}

.btn-resume:hover {
    background-color: white;
    color: black;
}

.company-details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.company-details li {
    margin: 5px 0;
    padding: 5px 10px;
    border-left: 4px solid #198754;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #495057;
}

.company-details li i {
    margin-right: 10px;
    color: #198754;
}

.accordion-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 15px;
    background-color: #f9f9f9;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
    max-width: 1000px;
}

.company-details li b {
    color: #555;
}

.no-data {
    font-size: 18px;
    color: #888;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
}

.dataTables_wrapper {
    margin-top: 20px;
}
.dataTables_length label, .dataTables_filter label {
    font-weight: bold;
}