*,
*:before,
*:after {
    box-sizing: border-box;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

.calendar-wrapper {
    width: 360px;
    margin-left: 12px;
    background: #FFFFFF;
    box-shadow: 0px 4px 1.8px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

table {
    clear: both;
    width: 100%;
    border: 1px solid #f0f0f5;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
}

td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #f0f0f5;
    border-top: 1px solid #f0f0f5;
    width: 14.28571429%;
}

td.not-current {
    color: #c0c0c0;
}

td.today {
    font-weight: 700;
    color: #28283b;
    font-size: 1.5em;
}

thead td {
    border: none;
    color: #28283b;
    text-transform: uppercase;
    font-size: 1.5em;
}

#btnPrev {
    float: left;
    margin-bottom: 20px;
}

#btnPrev:before {
    content: '\f104';
    font-family: FontAwesome;
    padding-right: 4px;
}

#btnNext {
    float: right;
    margin-bottom: 20px;
}

#btnNext:after {
    content: '\f105';
    font-family: FontAwesome;
    padding-left: 4px;
}

#btnPrev,
#btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c0c0c0;
    cursor: pointer;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#btnPrev:hover,
#btnNext:hover {
    color: #28283b;
    font-weight: bold;
}

.user-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: 100px auto 0;
}
.user-form-container h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}
.user-form-container img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}
.user-form-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}
.user-form-container input[type="text"],
.user-form-container input[type="date"],
.user-form-container select,
.user-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.user-form-container button:hover {
    background-color: #45a049;
}
.delete-icon, .archive-icon {
    position: absolute;
    top: 10px;
    cursor: pointer;
}
.delete-icon {
    right: 10px;
}
.archive-icon {
    left: 10px;
}
.status {
    color: green;
    font-weight: bold;
}
.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
}
.user-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    position: relative;
}
.user-form-container h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 20px;
}
.user-form-container label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #666;
}
.user-form-container input[type="text"],
.user-form-container input[type="date"],
.user-form-container input[type="password"],
.user-form-container select,
.user-form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.user-form-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.user-form-container button:hover {
    background-color: #45a049;
}

.login-container {
    background-color: white;
    padding: 20px 100px;
    border-radius: 10px;
    box-shadow: 0 3px 2px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-image-source: linear-gradient(0deg, #FFFFFF 80.26%, #11C24D 80.36%, #11C24D 98.68%);
    border-image-slice: 1;
    width: 590px;
    margin: 100px auto 0;

}
.card-registration{
    box-shadow: 0 3px 2px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-image-source: linear-gradient(0deg, #FFFFFF 80.26%, #11C24D 80.36%, #11C24D 98.68%);
    border-image-slice: 1;
}

.login-container h2 {
    margin-top: 0;
    font-size: 30px;
    color: #555;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.login-button{
    margin-top: 40px;
    font-family: Inter, sans-serif;
    padding: 8px 55px;
    box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: none;

}

.login-button:hover{
    background: rgb(230, 230, 230);
}

.login-input{
    border: 1px solid rgba(195, 195, 195, 1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25);
}

.bi-star-fill{
    top: 41px;
    right: -40px;
    border: 3px solid black;
    border-radius: 50%;
    padding: 0 5px 1px 5px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 100%;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header h2 {
    margin: 0;
    font-size: 18px;
}

.view-icons {
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
}

.icon:hover {
    background-color: #e0e0e0;
    border-radius: 5px;
}

.user-list-container {
    margin: 20px;
}

.user-list-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.user-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

.user-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
}

.user-info {
    display: grid;
    grid-template-columns: 200px 150px 70px 170px;
    align-items: center;
}

.user-info span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
}

.user-detail {
    margin-right: 10px;
    font-size: 14px;
}

.user-status {
    font-weight: bold;
}

.user-action-buttons {
    display: flex;
    align-items: center;
}

.edit-button, .add-user-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.add-user-button {
    background-color: #008CBA;
}

.edit-button:hover, .add-user-button:hover {
    background-color: #45a049;
}

.disabled {
    color: #888;
}

.hidden {
    display: none;
}

.user-tile-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.user-tile {
    background-color: white;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.user-tile-info {
    display: grid;
    grid-template-columns: 150px 110px 80px 190px 50px;
    align-items: center;
}

.buttons-container {
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.user-tile-info span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.edit-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
.user-modal-content {
    border-radius: 10px;
    padding: 0 50px;
}

.user-fade{
    padding: 100px;
}

.user-modal-header {
    border-bottom: none;
    justify-content: center;
}

.user-modal-title {
    font-size: 1.5rem;
    font-weight: normal;
}

.profile-icon {
    font-size: 80px;
    color: #5a5a5a;
    display: block;
    margin: 0 auto;
}


.user-info-row {
    display: flex;
    align-items: center;
}

.user-label {
    color: #6c757d;
    font-size: 0.9rem;
    min-width: 150px;
    text-align: right;
    margin-right: 10px;
}

.user-value {
    font-size: large;
}

.delete-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
.edit-user-btn{
    padding: 0 85px;
    border-radius: 20px;
    background-color: rgba(236, 230, 240, 1);
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.15);

}
.profile-info-avatar-img{
    width: 100px;
    height: 120px;
    border-radius: 6px;
    object-fit: cover;
}
.login-info-avatar-img{
    width: 80px;
    height: 100px;
    border-radius: 6px;
    object-fit: cover;
}

.view-icons a{
    font-size: 20px;
    color: black;
}

.container {
    padding: 20px;
}
.main-page{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

.role-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.role-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.role-item span {
    font-weight: bold;
}

.role-item .btn {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

.button-group {
    display: flex;
    gap: 8px;
}

.btn-create-role:hover {
    background-color: #4CAF50;
}

.role-name {
    font-weight: bold;
    color: #333;
}

.btn-create-role {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.role-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.role-modal-dialog {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
}

.role-modal-header, .role-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.role-modal-title {
    color: #4CAF50;
}

.role-btn {
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.role-btn-secondary {
    background-color: #ccc;
    color: #333;
}

.role-btn-primary {
    background-color: #4CAF50;
    color: #fff;
}

.role-btn-primary:hover,
.role-btn-success:hover {
    background-color: #45a049;
}

.text-danger {
    color: red;
    font-size: 0.9em;
}
.notes-form{
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.25) inset;
    width: 85%;
    margin-left: 27px;
}

.company-dropdown {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    position: relative;
    z-index: 1000;
    width: calc(100% + 20px);
    margin-left: -10px;
}


#companyList {
    display: flex;
    align-items: center;
    gap: 5px;
}

.company-list-container {
    max-height: 150px;
    overflow-y: auto;
}

.user-value {
    display: flex;
    align-items: center;
    gap: 10px;
}

.company-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
}
.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    display: block;
    width: 300px;
    border-radius: 0.25rem;
    background-color: #fff;
    z-index: 1050;
}

.notification {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1200;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.submit-btn-add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 319px;
    height: 51px;
    background: #96FF9D;
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 14px;
    border: none;
}

.check-icon-add {
    font-size: 44px;
    color: #1E1E1E;
}

.avatar-container {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 120px;
}
.change-avatar-icon {
    position: absolute;
    bottom: -4px;
    right: -4px;
    background-color: white;
    padding: 0 6px;
    cursor: pointer;
    color: black;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }
    .button.lock::after {
        right: 5px;
    }
}

.sidebar, .center-column, .archive, .calendar{
    margin: 0 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #d9d9d9;
    flex: 1;
    flex-direction: column;
}

.sidebar{
    padding-bottom: 30px;
}

.center-column{
    padding-top: 3px;
    padding-bottom: 5px;
}

.col.tasks {
    flex-grow: 1;
    line-height: 100%;
    font-size: 22px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #d9d9d9;
    padding: 0;
}

.button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FFFFFF;
    margin-bottom: 25px;
    border: none;
    border-radius: 0px;
    text-align: center;
    font-size: 24px;
}

.button.lock {
    position: relative;
    padding-top: 33px;
}

.button.company {
    margin: 50px 0;
    line-height: 35px;
}

.button.lock::after {
    content: '🔒';
    position: absolute;
    left: 270px;
    bottom: 20px;
    transform: translateY(-50%);
}

.archive {
    margin-top: 1px;
    background: #d9d9d9;
    border-radius: 4px;
    padding-bottom: 190px;
}

.archive h3 {
    font-size: 18px;
    background-color: white;
    text-align: center;
    align-items: center;
    margin: 10px 0;

}

.tasks-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 300px;
}

.add-task {
    background-color: inherit;
    font-size: 30px;
    border: none;
    text-decoration: none;
    color: black;
}

.task-list {
    margin: 10px 0 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 8px;
    border-radius: 2px;
    margin-bottom: 10px;
    position: relative;
}

.task-details {
    display: flex;
    align-items: center;
}

.task-date, .task-tag {
    padding: 4px 4px;
}

.task-priority-bar {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 100%;
    background-color: #EBE30E;
    border-radius: 0 2px 2px 0;
}

.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #ffffff;
}

.calendar h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.calendar-1 {
    width: 100%;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.nav-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.month-year {
    font-size: 18px;
    font-weight: bold;
}

.calendar-days, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
    text-align: center;
}

.day {
    font-weight: bold;
    color: #555555;
    font-size: 10px;
}

.date {
    padding: 8px 0;
    font-size: 16px;
    border-radius: 4px;
    color: #333333;
    cursor: pointer;
}

.date:hover {
    background-color: #e0e0e0;
}

.date.selected {
    color: #ffffff;
}

.alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1050;
    width: 300px;
    text-align: center;
}